# Binaries
wakeonlan_serv
rootfs_amd64/wakeonlan_serv
rootfs_arm64/wakeonlan_serv

# UPK packages
*.upk

# Build artifacts
build_dir/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Runtime data
devices.json

# OS
.DS_Store
Thumbs.db
wakeonlan
